<div class="col-md-7 col-md-offset-2">
<div class="row">

<div class="col-md-4">
<%= image_tag @car.car_img.url(:car_show), class: "car-show" %>
</div>

<div class="col-md-8">

	<div class="car-info">

	<h3 class="car-category">Class: <%= @car.category.name %></h3>
	<hr/>
	<h2 class="car-name"><%= @car.name %></h2>
	<p class="car-desc"><%= @car.description %></p>
</div>
</div>

</div>

<br>

<div class="links btn-group">

<%= link_to "Back", root_path, class: "btn btn-custom" %>

<% if user_signed_in? %>

<% if @car.user_id == current_user.id %>

<%= link_to "Edit", edit_car_path(@car), class: "btn btn-custom" %>
<%= link_to "Delete", car_path(@car), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-custom" %>
<% end %>

<% end %>
</div>